# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [ ]:
numberFloat = 2.3 

print(numberFloat)

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 2 
num2 = 5.4 

result = num1 + num2

result += 2

print(result

##### Subtraction

In [ ]:
result_diff = num2 - num1 



print(result_diff)

##### Multiplication

In [132]:
result_mul = num1 * num2 

print(result_mul)


result_mul *= 2
print(result_mul)

60
120

##### Division

In [ ]:
result_div = num2/num1 

print(result_div)

result_div /= 3
print(result_div)

##### Floor Division

In [ ]:
result_floor = num2// num1
print(result_floor)

result_floor //=2
print(result_floor)

##### Modulo

In [ ]:
result_mod = num2 % num1 

print(result_mod)

##### Exponential

In [ ]:
square = 5** 2
print(square)



square **=2
print(square)

### String Input-Output

##### String Assignment

In [1]:
name = 'Michael'

print(name)

Michael

##### print() <br>
<p>Don't forget about end=' '</p>

In [2]:
print('This is my first name: ', name )

print('Full Name: ', name, end=' Armas')

This is my first name:  Michael
Full Name:  Michael Armas

##### String Concatenation

In [ ]:
# concatentation = Linking things together

first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)


full_name += ", Jr"
print(full_name)

##### Type Conversion

In [7]:
number = '32'

change_type_num = int(number)
print(number)
print(change_type_num)

# input ALWAYS returns a string!!!!!!

32
32

##### input()

In [3]:
# INPUT ALWAYS RETURNS A STRING

# name = input('What is your name?')
# print('Nice to meet you, ' + name)

age = int(input( 'What is your age: '))
add_age = age + 5
print(add_age)

# this will alarm out
# make it an integer!

What is your age: 15
20

In [4]:
age = input('What is your age? ')

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)


result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 27
You are 27 Michael and you are getting wiser!
27 is a great time in life!

##### format()

In [6]:
age = input('What is your age? ')

result_string = "you are {} {} and you are getting wiser!".format(age.name)
print(result_string)

What is your age? 27

AttributeError: 'str' object has no attribute 'name'

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [144]:
name = input("what is your name? ")
color = input("What is the color? ")
year = input("what is the year? ")
model = input ("And the model? ")
results = f"{name}, your {year} {model}'s color is {color}."

print(results)

what is your name? michael
What is the color? green
what is the year? 34
And the model? clueless
michael, your 34 clueless's color is green.

### If Statements

In [7]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 6 
num2 = 10
num3 = 0

# if num1 == num2:
#     print('This is True!')
# else: 
#     print('That thing was not true! it is False!')


if num2 > num1 & num3 > 0:
    print('Num2 is greater')
elif num1 > num2:
    print('Num1 is greater')
else: 
    print("Equal values")

Equal values

##### 'is' keyword

In [ ]:
# The "is" keyword is for checking for the same object, but not the same value!

num3 = 55 

if num3 is 55:
    print("This is the exact number/object")

    
    
    
# is python still using the "is" keyword

##### 'in' keyword

In [10]:
# this will check if a character is in a string

char_name= "Michael Baggins"

if "Frodo" in char_name:
    print('The Ring Bearee')
else:
    print('Frodo is not in the character name')

Frodo is not in the character name

##### 'not in' keyword'

In [ ]:
sega_chara = "Sonia"

if 'a' not in sega_chara:
    print('a is NOT here...')

if 'a' in sega_chara:
    print('a is here....')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
name = input('What is your name? ')

result = f'My name is {name}!'

if 'p' in result:
    print('The name has a P')

if 'p' not in name:
    print('There is no P')
    
# better to use an ELSE here not another IF

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3


# if with 'and' statement

if num_11/5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
    
# if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')
    
    
#

### Elif Statements

In [15]:
first_name = input('what is your name? ')

if first_name == 'Smith':
    print('This is Smith')
elif first_name == 'Brandon':
    print('This is Brandon')
elif first_name != 'Max':
    print('This is not Max')
else:
    print('The name is Max')

### Else Statements

# see above

### For Loops

# syntax:
# for Counter in Condition


name = 'Brandon Apol'

for letter in name:
    print(letter)

what is your name? Ma
This is not Max

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [90]:
for i in range(20):
    if i == 5:
        continue
    print(i)
    
    
# 5 is not there

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [91]:
for i in range(20):
    if i == 5:
        break
    print(i)
    
    
# will go to the final spot and stop

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [92]:
for i in range(5):
    for j in range(5):
        print('i =', i, 'j = ', j)

i = 0 j =  0
i = 0 j =  1
i = 0 j =  2
i = 0 j =  3
i = 0 j =  4
i = 1 j =  0
i = 1 j =  1
i = 1 j =  2
i = 1 j =  3
i = 1 j =  4
i = 2 j =  0
i = 2 j =  1
i = 2 j =  2
i = 2 j =  3
i = 2 j =  4
i = 3 j =  0
i = 3 j =  1
i = 3 j =  2
i = 3 j =  3
i = 3 j =  4
i = 4 j =  0
i = 4 j =  1
i = 4 j =  2
i = 4 j =  3
i = 4 j =  4

### While Loops

In [94]:
# syntax:
# while Keyword, Conditional Statement

num= 0

while num< 10:
    print(num)
    num+= 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
# bad practice

game_over= True

while True:
    print('Infinite Loop')
    if game_over == False:
        break

##### While & For Loops Used Together

In [95]:
num = 0

while num< 5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print('For loop iteration: ', str(i+ 1))
        
        num+=1

 While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [17]:
# range(Start, Stop, Step)..


for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

##### len()

In [99]:
name = 'Max'

length = len(name)
print(length)

3

##### help()

In [100]:
# using this function to view more infoo about a python function


help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [101]:
# check a variable to find out what object family or data type it belongs too 
# isinstance(var, type)


print(isinstance(4.5, int))

if isinstance (4.5, float):
    print('This number is a float type')

False
This number is a float type

##### abs()

In [102]:
# |-5| = 5 (how far is it away from 0)

print(abs(-5))

5

### Try and Except

In [18]:
# use this to log out graceful and useful errar messages
# doesnt stop program!

try:
    input_num = int(input('Guess a number '))
    print('Your number is ' + str(input_num))
except:
    print('That Didnt work! Change your input to a number!')

Guess a number 10
Your number is 10

### Lists

##### Declaring Lists

In [105]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [112]:
# [start: stop: step]

# single
print(names[0])


# print start at index 1 going to the end 
print(names[1:])

# print starting at the beginning up until a number
print(names[:2])


# print starting at index 1 and going up by 2 
print(names[::2])


# print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Max', 'Kathy', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [113]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [117]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Devon', 'Devon', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [119]:
# Defaults to the last value if no parameter is givin
# Pop returns the element that was removed in case you want to assign it to a variable 

my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'Devon', 'Devon', 'Devon', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [123]:
# Value to be removed rather than index
# names.removed('Bob')
# print(names)


# remove multiple Devons fomr list
while 'Devon' in names:
    names.remove('Devon')
print(names)

['Max', 'Cindy', 'Bob', 'Nate', 'Brandon']

##### del()

In [125]:
# goes by index, rather than value
# be careful i can cause indexing errr if not used careully

del(names[1])
print(names)

['Max', 'Nate', 'Brandon']

##### Concatenating Two Lists

In [130]:
# will append two listst together , will nnot add the values!!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list= list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [20]:
# list can hold any type of other element! including other lists!
# They can go as deep as you want; this is clled nested lists

names = ['max', 'sam', 'josh',['sally', 'sue', 'tameka']]
print(names)
print(names[3])
print(names[3][1])

['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
['sally', 'sue', 'tameka']
sue

##### Looping Through Lists

In [22]:
# two ways to loop through list; one is by index and one is by using the 'in' keyword

# By index
# for i in range(len(names)):
#     print(names[i])
    
# loop wiht 'in'
for i in names:
    print(i)

max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [142]:
n = 1
while True:
    cube = n ** 3
    if cube > 1000:
        break
    print(cube)
    n += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

primes = []
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [28]:
age = int(input('What is your age? '))

if age < 18:
    print('Kids')
elif 18 <= age <= 65:
    print('Adults')
else:
    print('Seniors')

What is your age? 7
Kids